<h1>All the tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed == false %>
      <%= "â˜" %>
    <% elsif task.completed == true %>
      <%= "âœ”" %>
    <% end %>
      <%= link_to task.title, task_path(task.id) %>
      <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete %>
      </li>
  <% end %>

</ul>

<p>
  <%= link_to "Add new task", new_task_path  %>
</p>

